{% set cartJs %}

  $( document ).ready(function() {
            
    $(document).on("itemAddedToCart", function(cart) {
      console.log('added to cart: ', cart);
      var totalQty = cart.contents.totalQty;
      $('#itemCount').html(totalQty);
    });       

  });

{% endset %}

{% includeJs cartJs %}



<nav>

    {% set page = craft.request.getSegment(2) %}

    <a class="button {% if page == 'products' %}button-primary{% endif %}" href="{{ url('shop/products') }}">
        {{ "Products"|t }}
    </a>

    {% include 'shop/_includes/_viewCart' %}

    <span class="right">
        {% if currentUser %}
          <a href="{{ url('shop/customer') }}">{{ "My Orders"|t }}</a>
          — <a href="{{ url('shop/customer/addresses') }}">{{ "My Addresses"|t }}</a>
          — <a href="{{ logoutUrl }}">Logout</a>
          - {{ currentUser.username }}
        {% else %}
          {{ "Hello Guest"|t }}  |  
          <a  href="{{ url('shop/customer/signup') }}">{{ "Sign up"|t }}</a>  |  
          <a  href="{{ url('shop/customer/login') }}">{{ "Log in"|t }}</a>
        {% endif %}
    </span>



</nav>
